<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="content-language" content="en-EN" />

    <title>JEELIZ FACE FILTER : CLOUD</title>

    <!-- INCLUDE JEELIZ FACEFILTER SCRIPT -->
    <script src="./dist/jeelizFaceFilter.js"></script>

    <!-- INCLUDE THREE.JS -->
    <script src="./libs/threejs/v111/three.min.js"></script>

    <!-- INCLUDE JEELIZRESIZER -->
    <script src="./helpers/JeelizResizer.js"></script>
    <script src="./helpers/EffectComposer.js"></script>
    <script src="./helpers/CopyShader.js"></script>
    <script src="./helpers/ShaderPass.js"></script>
    <script src="./helpers/RenderPass.js"></script>
    <!-- <script src="./helpers/DebugGJ.js"></script> -->

    <!-- INCLUDE JEELIZ THREE.JS HELPER -->
    <script src="./helpers/JeelizThreejsHelper.js"></script>

    <!-- INCLUDE TWEEN.JS -->
    <script src="./libs/tween/v16_3_5/Tween.min.js"></script>

    <!-- INCLUDE DEMO SCRIPT -->
    <script src="./demo.js"></script>

    <link rel="stylesheet" href="./appearance/styleFullScreen.css" type="text/css" />
</head>

<body onload="main()" style='color: black'>
    <canvas width="600" height="600" id='jeeFaceFilterCanvas'></canvas>
</body>

</html>