<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">

  <script src="face-api.js"></script>
  <script src="js/faceDetectionControls.js"></script>
  <script src="js/opencv.js"></script>
  <script src="js/kalman.js"></script>
  <script src="js/main.js"></script>
  
</head>
<body onload="init()">
  <div class="center-content page-container">

    <div style="position: relative" class="margin">
      <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video>
      <canvas id="overlay" />
    </div>
</div>
</body>
</html>