body {
  overflow: auto;
  overflow-y: auto;
  margin: 0px;
  background-color: black;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
}

#overlay {
  z-index: 10;
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 0px;
  left: 0px;
  transform: rotateY(180deg);
}

#ss_btn {
  z-index: 15;
  position: absolute;
  background-color: #333;
  bottom: 1rem;
  left: calc(50vw - 2rem);
  height: 4rem;
  width: 4rem;
  border-radius: 4rem;
  border-style: solid;
  border-color: white;
  border-width: 0.25rem;
  display: none;
}

.lds-dual-ring {
  z-index: 15;
  position: absolute;
  left: calc(50vw - 40px);
  top: calc(50vh - 40px);
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#err_wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  height: 80vh;
}
#err {
  font-size: 24px;
  text-align: center;
  color: white;
}
a {
  color: white;
}
